.main-nav li, .menu{
  font-family: 'Roboto', sans-serif;
  font-weight: bold;
  font-size: 16px;
  line-height: 18px;
  text-decoration: none;
  display: inline-block;
  outline: 2px solid yellow;
}

.header-right{
  font-family: 'Roboto', sans-serif;
  font-size: 0px;
  line-height: 16px;
  font-weight: 500;
  color: white;
  margin-top: 8px;
  outline: 2px solid green;
  margin-left: 855px;
  width: 293px;
  box-sizing: border-box;
  padding-left: 31px;
  padding-top: 15px;
  position: absolute;
}

.header-contacts{
  text-align: right;
  margin-top: -5px;
}

.infotime{
  font-family: 'Roboto', sans-serif;
  font-weight: bold;
  font-size: 14px;
  line-height: 16px;
  
  margin-bottom: -18px;
}

.infophone{
  font-family: 'Roboto', sans-serif;
  font-weight: bold;
  font-size: 22px;
  line-height: 24px;
  
}

h2{
  font-family: 'Roboto', sans-serif;
  font-size: 60px;
  line-height: 60.35px;
  color: white;
}

.gift h3{
  font-family: 'Roboto', sans-serif;
  font-weight: bold;
  font-size: 35px;
  line-height: 41px;
}

.gift p{
  font-family: 'Roboto', sans-serif;
  font-weight: bold;
  font-size: 18px;
  line-height: 22px;
}

.item span{
  font-family: 'Roboto', sans-serif;
  position: absolute;
  font-size: 45px;
  font-weight: bold;
  color: white;
  text-shadow: 0px 1px 3px rgba(49, 50, 53, 0.5);
  margin-top: -65px;
}



.hit a, .advantages p, .latestblog h4, .subscribe label{
  text-decoration: none;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  line-height: 22px;
}

.advantages h1{
  font-family: 'Roboto', sans-serif;
  font-size: 24px;
  line-height: 30px;
  font-weight: 500;
  color: #323232;
}

.leftcolumn{
  outline: 2px solid green;
  float: left;
  width: 530px;
  margin-top: -10px;
}

.socialbuttons a{
  display: block;
  outline: 2px solid cyan;
  height: 32px;
  width: 32px;
  background-color: gray;
}

.rightcolumn{
  outline: 2px solid green;
  float: right;
  width: 550px;
  margin-top: -10px;
}

.leftcolumn .first, .leftcolumn .second{
  box-sizing: border-box;
  padding-left: 13px;
}

.first, .second{
  outline: 2px solid red;
  width: 485px;
  float: right;
}

.leftcolumn{
  background: url(../img/seo1.png) no-repeat 0px 3px,
              url(../img/seo2.png) no-repeat 0px 91px;
}
.rightcolumn{
  background: url(../img/seo3.png) no-repeat 10px 3px,
              url(../img/seo4.png) no-repeat 10px 91px;
}

.second{
  margin-top: -10px;
}

.slider-button a{
  text-decoration: none;
  font-family: 'Roboto', sans-serif;
  font-size: 32px;
  line-height: 44px;
  font-weight: 800;
}

.gift a, .subscribe button, .feedback-btn{
  text-decoration: none;
  font-family: 'Roboto', sans-serif;
  font-size: 18px;
  line-height: 24px;
  font-weight: 800;
  color: white;
}

.advantages p, .latestblog h4 {
  color: #323232;
}

.latestblog h4{
  font-weight: 500;
}

.latestblog a{
  font-family: 'Roboto', sans-serif;
  font-size: 24px;
  line-height: 30px;
  font-weight: bold;
  color: #323232;
}

.subscribe label{
  color: #5a5a5a;
}

.adresstext{
  font-family: 'Roboto', sans-serif;
  font-size: 18px;
  line-height: 24px;
  font-weight: bold;
  margin-top: -12px;
}

.adressinfo-regular{
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  line-height: 20px;
  font-weight: regular;
}

.footerlinks{
  font-family: 'Roboto', sans-serif;
  font-size: 13px;
  line-height: 18px;
}

.footerlinks :first-child {
  font-weight: bold;
}

.academy{
  font-family: 'Roboto', sans-serif;
  font-size: 12px;
  line-height: 18px;
}

.breadcrumbs{
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  line-height: 16px;
}

.formheader{
  font-family: 'Roboto', sans-serif;
  font-size: 35px;
  line-height: 41px;
  font-weight: bold;
}

form, .turn-page{
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  line-height: 18px;
  font-weight: 500;
}

form label{
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  line-height: 16px;
  font-weight: 500;
}

header{
  outline: 2px solid blue;
}

body, html{
  background: #849d8f;
}

.header-left{
  height: 100%;
  width: 560px;
  margin-left: -10px;
  padding-top: 8px;
  outline: yellow solid 2px;
  float: left;
  box-sizing: border-box;
}

.clearfix::after {
    content: "";
    display: table;
    clear: both;
}

main{
  padding-right: 27px;
  padding-left: 27px;
}

.slider{
  box-sizing: border-box;
  min-height: 533px; 
  outline: 2px solid green;
  box-sizing: border-box;
  padding-top: 266px;
  padding-left: 237px;
  padding-right:237px;
}



.icecream-hits{
  outline: 2px solid yellow;
  margin-top: 36px;
  min-height: 334px;
  box-sizing: border-box;
}

.item{
  outline: 2px solid cyan;
  /*min-height: 334px; */
  width: 267px;
  float: left;
  margin-right: 26px;
}

.item img{
  margin-top: 6px;
  position: relative;
}

.item a, .item h3{
  text-decoration: none;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  line-height: 22px;
  color: white;
  text-align: center;
  margin-top: 9px;
}

.hit:last-child{
  margin: 0;
}

.advantages{
  margin-top: 34px;
  outline: 2px solid gray;
  background: url(../img/pattern1.jpg) repeat;
  overflow: hidden;
  border-radius: 16px;
  box-sizing: border-box;
  padding: 8px 20px;
}

.newsblock{
  margin-top: 40px;
  outline: 2px solid black;
}

.latestblog, .subscribe{
  float: left;
  outline: 2px solid #e405ff;
  width: 560px;
  overflow: hidden;
  border-radius: 16px;
}

.latestblog{
  background: url(../img/stawberry.jpg) no-repeat;
  box-sizing: border-box;
  padding-left: 20px;
  padding-top: 2px;
}

.latestblog-link{
  margin-top: -17px;
  width: 300px;
  margin-bottom: 80px;
}

.subscribe{
  margin-left: 26px;
  background: url(../img/pattern-post.jpg) repeat;
}

.subscribe form{
  background: #f8f7f4;
  margin: 6px;
  border-radius: 16px;
  overflow: hidden;
  padding: 28px 20px;
  padding-right: 18px;
}

.subscribe-input{
  margin-top: 35px;
  margin-bottom: 6px;
}

.subscribe-input button{
  background-image: -moz-linear-gradient( 90deg, rgb(231,74,53) 0%, rgb(242,104,67) 100%);
  background-image: -webkit-linear-gradient( 90deg, rgb(231,74,53) 0%, rgb(242,104,67) 100%);
  background-image: -ms-linear-gradient( 90deg, rgb(231,74,53) 0%, rgb(242,104,67) 100%);
  box-shadow: 0px 2px 2px 0px rgba(172, 16, 0, 0.64);
  border-radius: 25px;
  padding: 10px 20px;
  border: none;
  float: right;
}

.subscribe-input input{
  border-radius: 4px;
  border: 1px solid #d3d3d2;
  height: 40px;
  width: 362px;
}

.map{
  margin-top: 40px;
  min-height: 430px;
  outline: 2px solid #fe124b;
}

footer{
  margin: 0px 27px;
}

.socialbuttons{
  outline: 2px solid red;
  min-height: 104px;
  width: 267px;
  float: left;
  margin-right: 26px;
}

.footerlinks{
  outline: 2px solid red;
  min-height: 104px;
  width: 560px;
  float: left;
  margin-right: 26px;
}

.academy{
  outline: 2px solid red;
  min-height: 104px;
  width: 267px;
  float: left;
}

.breadcrumbs{
  outline: 2px solid green;
  margin-top: 24px;
  min-height: 20px;
  float: left;
  width: 30%;
}

.filter-main{
  margin-top: 65px;
  outline: 2px solid yellow;
  min-height: 140px;
}

.container{
  outline: 1px solid black;
  margin-left: auto;
  margin-right: auto;
  width: 1200px;
  box-sizing: border-box;
  padding-left: 27px;
  padding-right: 27px;
}

.icecream{
  margin-top: 30px;
  outline: 2px solid red;
  min-height: 1056px;
}

.pagination{
  margin-top: 78px;
  outline: 2px solid blue;
  min-height: 26px;
  margin-bottom: 30px;
}

.logo{
  float: left;
  margin-left: 8px;
  margin-top: 1px;
}

.menu{
  float: left;
  margin-top: 22px;
}

.menu ul{
  font-size: 0;
}

.menu li{
  display: inline-block;
  font-size: 16px;
  vertical-align: middle;
  margin-right: 28px;
}

.menu li:last-child{
  margin-right: 0px;
}

.menu li:first-child{
  margin-left: -15px;
}

.menu a{
  color: white;
  text-decoration: none;
}

.header-search{
  box-sizing: border-box;
  height: 33px;
  width: 33px;
  background-color: #a3b8ac;
  border-radius: 16px;
  overflow: hidden;
  cursor: pointer;
}

.search-icon{
  margin: 7px;
}

.header-cart{
  box-sizing: border-box;
  height: 33px;
  width: 117px;
  background-color: #a3b8ac;
  border-radius: 16px;
  overflow: hidden;
  cursor: pointer;
}

.header-login{
  box-sizing: border-box;
  height: 33px;
  width: 93px;
  background-color: #a3b8ac;
  border-radius: 16px;
  overflow: hidden;
  cursor: pointer;
  padding-left: 15px;
}

.header-search, .header-cart, .header-login{
  display: inline-block;
  font-size: 14px;
}

.header-search, .header-login{
  margin-right: 9px;
}

.silder-header{
  display: block;
  width: 60%;
  text-align: center;
  margin-left: 229px;
}

main{
  background: url(../img/morojenko.png) no-repeat;
  background-position: center 5px;
}

.switch-slide{
  float: left;
  min-height: 20px;
  margin-right: 432px;
}

.slider-button{
  background-image: -moz-linear-gradient( 90deg, rgb(231,74,53) 0%, rgb(242,104,67) 100%);
  background-image: -webkit-linear-gradient( 90deg, rgb(231,74,53) 0%, rgb(242,104,67) 100%);
  background-image: -ms-linear-gradient( 90deg, rgb(231,74,53) 0%, rgb(242,104,67) 100%);
  box-shadow: 0px 2px 2px 0px rgba(172, 16, 0, 0.64);
  width: 280px;
  float: left;
  margin-top: -40px;
  padding-bottom: 10px;
  border-radius: 32px;
  overflow: hidden;
  padding-top: 9px;
  margin-left: 195px;
}

.slider-button a{
  color: white;
  text-decoration: none;
  display: inline-block;
  vertical-align: middle;
  text-align: center;
  height: 100%;
  width: 100%;
  text-shadow: 0px 2px 5px rgba(160, 32, 11, 0.76);
}

.left-gift{
  background: url(../img/malina.jpg) no-repeat;
}

.right-gift{
  background: url(../img/chok.jpg) no-repeat;
}

.left-gift, .right-gift{
  box-sizing: border-box;
  border-radius: 17px;
  overflow: hidden;
  color: white;
  padding: 16px 22px;
  width: 560px;
}
.gift{
  margin-top: 38px;
  box-sizing: border-box;
  outline: 2px purple solid;
}

.gift h3{
  margin: 0px;
}

.left-gift{
  float: left;
  outline: 2px solid pink;
}

.right-gift{
  float: right;
  outline: 2px solid pink;
}

.gift a{
  background-image: -moz-linear-gradient( 90deg, rgb(231,74,53) 0%, rgb(242,104,67) 100%);
  background-image: -webkit-linear-gradient( 90deg, rgb(231,74,53) 0%, rgb(242,104,67) 100%);
  background-image: -ms-linear-gradient( 90deg, rgb(231,74,53) 0%, rgb(242,104,67) 100%);
  box-shadow: 0px 2px 2px 0px rgba(172, 16, 0, 0.64);
  border-radius: 20px;
  padding: 11px 22px;
  float: right;
  margin-top: 23px;
  margin-bottom: 5px; 
}

.header-contacts{
  position: relative;
}

.adressinfo{
  outline: 2px solid yellow;
  width: 302px;
  float: right;
  background-color: white;
  margin-top: 65px;
  border-radius: 16px;
  box-sizing: border-box;
  overflow: hidden;
  padding: 10px 23px;
}

.feedback-btn{
  background-image: -moz-linear-gradient( 90deg, rgb(231,74,53) 0%, rgb(242,104,67) 100%);
  background-image: -webkit-linear-gradient( 90deg, rgb(231,74,53) 0%, rgb(242,104,67) 100%);
  background-image: -ms-linear-gradient( 90deg, rgb(231,74,53) 0%, rgb(242,104,67) 100%);
  box-shadow: 0px 2px 2px 0px rgba(172, 16, 0, 0.64);
  border-radius: 26px;
  border: none;
  padding: 10px 28px;
  margin-top: 13px;
  margin-bottom: 20px;
}

.secondblock{
  margin-top: 10px;
}

.lastline{
  margin-top: -15px;
}